body{
    margin-bottom: 120px !important;
}

div#root{
    background: white;
    padding-bottom: 30px;
}

.card_photo{
    margin-top: 100px !important;
}

.main_photo{
    height: 400px;
    width: auto;
    object-fit: contain !important;
}